.flexbox-container{
    display: flex;
}
.flexbox-item {

    background: orange;
    border: 3px solid #272727;
    width: 15%;
    color:#fff;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}
.item-1{
    min-height: 50px;
}
.item-2{
    min-height: 100px;
}
.item-3{
    min-height: 250px;
}