button {
    background: white;
    border: 1px solid rgb(192, 187, 188);
    border-radius: 10%;
    font-weight: 600;
    width: 90px;
}

.container-score {
    display: flex;
}

.flex-item {
    padding: 3px;
}

#max-player {
    background: white;
    border: 1px solid rgb(192, 187, 188);
    border-radius: 10%;
    width: 15%;
}

.change-player-button {
    background: purple;
}