body {
    text-transform: uppercase;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(36, 35, 35);
    font-size: 16px;
    text-decoration: none;
}

.container-1 {
    font-size: 20px;
    color: white;
    background: rgb(38, 132, 219);
    text-align: center;
}

.text-top {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

.text-bottom {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 16px;
}

#rgb-code {
    margin: 0;
    font-size: 35px;
}

.container-2 {
    background: white;
    color: rgb(55, 103, 194);
    font-size: .9em;
    font-weight: 600;
    letter-spacing: .15em;
}

.container-2 ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.container-2 li {
    margin: 0 10px;
    padding: 5px 10px;
  
}

.container-2 li:hover {
    background: rgb(16, 54, 90);
    color: white;
}



.container-3 {
    padding-top: 10px;
}

.box {
    width: 10%;
    height: 10%;
    min-height: 150px;
    border-radius: 15%;
    background: white;
    margin: 10px;
}

.row-1 {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.row-2 {
    display: flex;
    justify-content: center;
    margin: 0px 20px;
}

@media only screen and (max-width: 800px) {
    /* styles for browsers larger than 960px; */
    .box {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
    /* styles for browsers larger than 960px; */
    .box {
        width: 12%;
        height: 12%;
        min-height: 150px;
    }
}